.navbar--no-bottom-margin {
    margin-bottom: 0;
}

.FilterConfig {
    border: solid 1px #aaa;
    font-size: 0.9em;

}

.FilterConfig + .FilterConfig {
    margin-top: 5px;
}

.FilterConfig__Header {
    font-size: 16px;
    background-color: #ccc;
    padding: 3px;
    height: 28px;
}

.FilterConfig__Contents {
    padding: 5px;
    background-color: #f0f0f0;
}

.FilterConfig__Contents--Hidden {
    display: none;
}

.FilterConfig__Contents__Help {
    font-size: 0.9em;
    color: #666;
}

.FilterConfig__Contents__Help--Hidden {
    display: none;
}

.FilterConfig__Contents__RegexpErrors {

}

.FilterConfig__Contents__RegexpErrors--Hidden {
    display: none;
}

.FilterConfig__Contents__Checkbox {
    margin-right: 10px;
}

.FilterConfig__Contents__Checkbox__Label {
    font-weight: normal;
}

.FilterConfig__Contents__Checkbox__Label input[type=checkbox] {
    margin-right: 2px;
}

.FilterConfig__Contents__Description {

}

.FilterConfig__Contents__Description--Hidden {
    display: none;
}

.form-group {
    margin-bottom: 5px;
}